@charset "utf-8";
*{margin:0;padding:0;font-family:Microsoft YaHei;box-sizing:border-box}
li,ol,ul{list-style:none}
a{text-decoration:none;color:#333}
i{display:inline-block}
i,s{text-decoration:none}
input{border:none;outline:0}
select{outline:0}
h1,h2,h3,h4,h5,h6{font-style:normal}
h1{display:inline-block}
form,select{display:inline}
img{border:none}
.icon{background-image:url(images/icon.png)}
.activity_icon{background-image:url(../img/WebsiteImg/dBp49932947OO.jpg)}
.fl{float:left}
.fr{float:right}
.of{overflow:hidden}
.fz24{font-size:24px}
.fz18{font-size:18px}
.fz16{font-size:16px}
.fz14{font-size:14px}
.col{color:#ff7f00}
.fw1{font-weight:700}
.fw2{font-weight:400}
.login{
	position: absolute;
    right: 0;
    top: 12px;
}
.login a{
	display:inline-block;
	width:100px;
 	height:30px;
	background:#ff7f00;
	border-radius:3px;
	font-size:14px;
	line-height:30px;
	color:#fff;	
	text-align:center;
	margin-top:-5px;
}
.header{width:1000px;height:64px;margin:auto;overflow:hidden;margin-top:20px}
.tel_number{float:right;overflow:hidden}
.tel{width:13px;height:13px;display:inline-block;margin:0 10px 0 0;background-position:-26px -39px}
.tel_text{float:right;font-size:14px}
.number{clear:right;float:right;color:#ff7c7c;font-size:22px}
.nav_bar{width:1000px;margin:auto}
.nav_bar li a{display:inline-block;text-align:center;padding:15px 20px}
.nav_bar a:hover{color:#fff;background-color:#ff7f00}
.line{width:100%;height:2px;background-color:#ddd}
.footer{background-color:#fff}
.footer_title_box{background-color:#ff7f00}
.footer_title{color:#fff;font-size:18px;width:1000px;margin:auto;line-height:40px}
.footer_content{width:1000px;margin:auto;overflow:hidden}
.footer_content_top{height:130px;border-bottom:1px solid #d9d9d9}
.footer_contact{float:left}
.footer_contact li{margin-top:12px}
.footer_barcode_qq,.footer_barcode_weibo,.footer_barcode_weixin{width:210px;height:100px;border:1px solid #d9d9d9;margin-top:15px;float:right;margin-left:10px;overflow:hidden}
.qq_barcode,.weibo_barcode,.weixin_barcode{width:80px;height:80px;float:left;clear:both;margin:10px}
.qq_text,.weibo_text,.weixin_text{float:left;width:105px;margin-top:10px}
.qq_text h1,.weibo_text h1,.weixin_text h1{font-size:16px;margin-bottom:5px}
.footer_content_bottom{height:120px;margin-top:30px}
.footer_content_bottom>*{text-align:center}
.footer_content_box{overflow:hidden;margin-bottom:15px}
.footer_content_box *{dispaly:inline-block;margin-right:5px}
.copyright{margin:10px 0}
/*********************dialog*********************/
.dia-ba{position:fixed;top:0;left:0;z-index:100000;width:100%;height:100%;background:#000;opacity:.4;filter:alpha(opacity=40)}
.dialog{position:fixed;top:0;right:0;bottom:0;left:0;z-index:100001;overflow:hidden;margin:auto;width:360px;height:174px;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:5px;background:#fff;}
.dialog .dialog-title{padding:10px;border-bottom:1px solid #ddd;color:#333;font-weight:700;font-size:14px}
.dialog-content{
    color: #333;
    font-weight: 400;
    font-size: 14px;
    max-height: 45px;
    text-align: left;
    padding: 0 20px;
    overflow: hidden;
    margin: 20px 0;
    min-height: 40px;
}
.sure{font-size: 14px;float:right;margin-right:20px;padding:7px 12px;width:50px;border-radius:4px;background:#337ab7;color:#fff !important;text-align:center;white-space:nowrap;font-weight:400;line-height:1.42857143;transition:.1s all ease-in-out}
.sure:hover{background:#2e6da4}
/***************送礼物**********************/
.gift_content1{position:relative;display:inline-block}
.gift_content1>i{position:absolute;right:0;bottom:0;display:block;width:13px;height:13px}
.gift_current{background-position:-9px -1px;background-repeat:no-repeat}
.gift_current,.pop-up{background-image:url(/img/WebsiteImg/uGU51662248PP.jpg)}
.pop-up{width:13px;height:13px}
.gift_box{position:relative;z-index:1;width:100%;height:100%}
.gift,.gift_zzc{position:fixed;top:0;right:0;bottom:0;left:0;z-index:100;margin:auto}
.gift_zzc{background-color:#000;opacity:.5;filter:alpha(opacity=50)}
.gift{width:495px;height:500px;background-color:#fff}
.gift_header{overflow:hidden;background-color:#fd8eb9;line-height:30px}
.gift_header span{float:left;margin-left:8px;font-size:14px;color:#fff !important;}
.gift_header i{float:right;margin-top:7px;margin-right:8px;background-position:-9px -15px}
.gift_content{overflow:hidden;margin-left:30px;padding:30px 30px 0 0;width:525px}
.gift_content img{margin:5px}
.gift_content1{display:inline-block;margin:0 15px 15px 0;width:75px;height:75px;border:1px solid #ddd}
.gift_content1{ display:inline-block; position:relative;}
.gift_content1 >i{ display: block;height: 13px;width: 13px;position: absolute;bottom: 0px;right: 0px;}
/*发信*/
.gift_current{background-position:-9px -1px;background-repeat:no-repeat}
.gift_current,.pop-up{background-image:url(/img/WebsiteImg/uGU51662248PP.jpg)}
.pop-up{width:13px;height:13px}
.gift_box{position:relative;z-index:1;width:100%;height:100%}
.gift,.gift_zzc{position:fixed;top:0;right:0;bottom:0;left:0;z-index:100;margin:auto}
.gift_zzc{background-color:#000;opacity:.5;filter:alpha(opacity=50)}
.gift{width:495px;height:500px;background-color:#fff}
.gift_header{overflow:hidden;background-color:#fd8eb9;color:#fff;line-height:30px}
.gift_header span{float:left;margin-left:8px;font-size:14px}
.send_letter_content{margin:30px 30px 15px;padding:10px;width:435px;height:150px;border:1px solid #ddd}
.pop-up_btn{float:right;display:inline-block;margin:15px 30px 0 0;width:110px;border-radius:3px;background-color:#f9a61c;color:#fff;text-align:center;font-size:14px;line-height:34px;border:none}
/****************弹出层**********************/
/*弹出层*/
.popup-background,.popup-box{position:fixed}
.popup-background{top:0;right:0;bottom:0;left:0;z-index:1000;margin:auto;width:100%;height:100%;background:rgba(0,0,0,.4)}
.popup-box{top:50%;left:50%;z-index:1001;margin-left:-10%;width:20%;border-radius:10px;background:#fff;box-shadow:0 1px 6px #555;color:#000;font-family:-apple-system-font,Helvetica Neue,Helvetica,sans-serif;margin-top:-148px;}
.popup-box__hd{position:relative;padding:1pc 15px;border-bottom:1px solid #ff7c7c;text-align:center;font-size:22px}
.popup-box__bd{padding:15px 20px;text-align:center}
.popup-box__fd{padding:0 20px 20px}
.popup-new-attr{font-size:18px}
.popup-new-attr big{font-weight:400;font-size:40px}
.popup-new-check{display:flex;margin:10px auto;padding:15px 0;border-top:1px solid #ddd;border-bottom:1px solid #eee;font-size:18px;align-items:center}
.popup-new-check span[role="radio"]{display:inline-block;margin-right:6px;width:1pc;height:1pc;border:1px solid #ddd;border-radius:2px;-webkit-appearance:none;appearance:none}
.popup-new-check label{display:block;flex:1}
.popup-new-check span{vertical-align:middle}
.popup-btn{display:block;width:100%;height:50px;border-radius:4px;background:#ff7c7c;box-shadow:0 0 0 1px #ff7c7c;color:#fff;text-align:center;font-size:20px;line-height:50px}
.popup-hd-ctrl{position:absolute;top:0;bottom:0;right:15px;margin:auto;width:20px;height:20px;background:url(/img/WebsiteImg/hYm54255191Sa.jpg) no-repeat scroll center/cover;}
.checked{ background:url(/img/WebsiteImg/SIK54255185JX.jpg) no-repeat scroll center/cover;}
[qr_code] img{
	width: 60%;
    margin: 5% auto;
    display: block;
}
.hide{ display:none;}
body{font-size:12px;}