@charset "utf-8";
/*banner*/
.banner{
	height:450px;
	margin:auto;
	overflow:hidden;
	position:relative;	
}
#banner-scontainer {
    position: absolute;
    overflow: hidden;
    height: 450px;
    top: 0;
    width: 100%;
}
#banner-scontainer .list-item li{ float:left; height:450px;}
#banner-scontainer .list-item:after{ content:''; display:block; clear:both;}
#banner-scontainer .sort-item{ position:absolute; width:100%; bottom:20px; left:0; z-index:100; text-align:center}
#banner-scontainer .sort-item li{ width:10px; height:10px; background:#fff; display:inline-block; margin:0 5px;}
#banner-scontainer .sort-item .cur{ background:#C00 !important;}
/*内容*/
.content{
	width:1000px;
	margin:auto;
	height:960px;
	margin-top:20px;	
}
.content select{
	font-size:14px;
}
/*左侧搜索*/
.search_box{
	width:700px;
	height:960px;
	background:#f6f6f6;
	float:left;
}
.search_content{
	float:right;
	width:280px;
}
.search_top{
	height:35px;
	line-height:35px;
	margin:20px;
	overflow:hidden;
}
.search_top *{
	float:left;
}
.search_bg{
	display:inline-block;
	width:32px;
	height:32px;
	background-position:-18px -146px;
	margin-top:3px;
}
.search_title{
	font-size:18px;
	font-weight:bold;
	color:#000;
	margin:0 10px 0 5px;
}
.search_btn{
	float:right;
	display:inline-block;
	width:86px;
	height:34px;
	background-color:#ff7f00;
	text-align:center;
	border-radius:3px;
	color:#fff;
	font-size:16px;
	margin-right:10px;
}
.s_style2,.s_style3,.s_style4{
	height:30px;
	border:1px sold #ddd;
	margin-right:8px;
}
.s_style2{
	width:70px;
}
.s_style3{
	width:80px;
}
.s_style4{
	width:50px;
}

.search_content{
	clear:both;
	width:700px;
	padding-left:18px;
}
.content01_box{
	clear:both;
	width:152px;
	height:275px;
	background:#fff;
	border:1px solid #ccc;
	text-align:center;
	margin-right:15px;
	margin-bottom:20px;
	display:inline-block;
}
.content01{
	padding:10px;
	margin-top:10px;
}
.content01 h2{
	margin-top:10px;
	font-size:14px;
	color:#ff7c7c;
}
.content_text{
	margin:3px 0 8px 0;
}
.content_text span{
	margin-right:3px;
}
.say_hi,.give_gift{
	width:56px;
	height:24px;
	display:inline-block;
	background:#fff8f9;
	border:1px solid #ff7c7c;
	color:#ff7c7c;
	vertical-align:top;
	line-height:22px;	
}
.give_gift{
	background:#ff7c7c;
	color:#fff;
}
/*右侧栏目1 帮你遇见爱*/
.column_box{
	width:280px;
	height:960px;
	float:right;
}
.meet_love,.generalize{
	width:280px;
	border:1px solid #d9d9d9;
}
.meet_love{	
	height:550px;
}

.meet_love_title{
	height:42px;
	line-height:42px;
	text-align:center;
	background-color:#f6f6f6;	
}
.meet_love_icon{
	margin:9px 5px 0 18px;
	width:25px;
	height:25px;
	display:inline-block;
	float:left;
}
.meet_love_icon{
	background-position:-20px -199px;
}
.meet_love_title h2{
	float:left;
	font-size:16px;
	font-weight:bold;
	color:#000;
}
.shop_box{
	height:126px;
}
.shop{
	width:250px;
	height:126px;
	border-bottom:1px dotted #d9d9d9;
	margin:0 15px;
	padding-top:30px;
}
.shop_icon{
	float:left;
	display:inline-block;
	width:65px;
	height:65px;
}
.shop_icon01{
	background-position:-90px -31px;
}
.shop_icon02{
	background-position:-90px -105px;
}
.shop_icon03{
	background-position:-90px -180px;
}
.shop_icon04{
	background-position:-90px -262px;
}
.shop_text{
	float:left;
	margin-left:15px;
}
.shop_text_title{
	font-size:14px;
	color:#ff7c7c;
	text-decoration:underline;
	margin-bottom:12px;
}
.shop_text_content1{
	margin:10px 0 4px 0;
}
.shop_text_icon{
	width:0;
	height:0;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-left:5px solid #ff7c7c;
	margin-right:2px;
}
#shop-special{
	border-bottom:none;
}
/*右侧栏目 广告*/
.index_ad{
	margin:15px 0;
	width:280px;
	overflow:hidden;
}
/*右侧栏目2 推广*/
.generalize{
	border:1px solid #ddd;
	background:url(images/index_icon2.png) no-repeat scroll 0 0;
	text-align:center;
	padding:40px 18px 30px;
}
.generalize_content{
	margin:20px 0;
}
.generalize_content i{
	width:76px;
	height:76px;
	background-image:url(images/index_icon1.png);
	background-position:0 0;
}
.generalize_content p{
	width:160px;
	word-break:break-all;
	text-overflow:ellipsis;
	text-align: justify;
}
.generalize_btn{
	display:inline-block;
	width:240px;
	line-height:48px;
	background-color:#ff7f00;
	text-align:center;
	color:#fff;
	border-radius:5px;
}
/*底部广告*/
.ad{
	width:1000px;
	height:90px;
	clear:both;
	margin:50px auto;
}