@charset "utf-8";
/*头部底部*/
/*.rebody{ position:fixed; height:100%; width:100%; left:0; top:0; background:#fff; overflow:scroll;}*/
.footer,.header{ position:fixed;left:0;width:100%;z-index:100;}
.header{ height:44px; line-height:44px; text-align:center;background:#ff7c7c; color:#fff; padding:0 15px;display:-webkit-box;display:-webkit-flex; display:flex;}
.head-center{flex:1}
.footer{position:fixed;bottom:0;left:0;width:100%;display:flex;text-align:center;height:50px;background-color:#fff;align-items:center;border-top:1px solid #ddd;box-shadow:0 0 2px #ddd;}
.bottom-nav{flex:1;border-right:1px solid #ddd;}
.bottom-nav:last-child{border:none;}
/*首页内容*/
.index-content{padding:44px 0 65px; display: -webkit-flex;display:flex;flex-wrap:wrap;-webkit-flex-wrap:wrap;padding-right:15px;background-color:#fff;}
.index-content li{width:50%;padding-top:15px;padding-left: 15px;}
.index-list{position:relative;border-radius:5px;overflow:hidden;}
.mask{position:absolute;background-color:rgba(0,0,0,.4);color:#fff;text-align:center;width:100%;bottom:0;left:0;}
.mask p{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;padding:5px;font-size:14px;}
