/* css reset start */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form  {margin:0;}
ol,ul  {margin:0; padding:0;}
a,input[type="button"],input[type="submit"],input[type="reset"],button,[role="button"],[role="spinbutton"] {cursor: pointer}
input {border:none;outline:none;}
a,ins,u,s { text-decoration: none;}
a {color:#333;}
i,ins,u,em,font,small,b,big,center { font-style: normal}
i {display:inline-block;}
h1,h2,h3,h4,h5,h6 {font-style: normal;}
img,button {border: none;}
ul,ol,li,dl,dt,dd { list-style-type: none;}
table,table tr,table td,table th { border-collapse: collapse; border-spacing: 0;}
table { width: 100%;}
body {font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; font-size: 12px; background-color: #fff;}
/* css reset end */

/**************************** common start *****************************/
html {
    font-size: 62.5%;
    -webkit-text-size-adjust:none;
}
@media only screen and (min-width: 320px){
    html {
        font-size: 12px !important;
    }
}
@media only screen and (min-width: 360px){
    html {
        font-size: 14px !important;
    }
}
@media only screen and (min-width: 400px){
    html {
        font-size: 16px !important;
    }
}
@media only screen and (min-width: 440px){
    html {
        font-size: 16px !important;
    }
}
@media only screen and (min-width: 500px){
    html {
        font-size: 18px !important;
    }
}
body {
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
html,body {
    width: 100%;
    height: 100%;
}
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix {
    zoom: 1;
}
.fl  {
    float:left;
}
.fr  {
    float:right;
}
.hide {
    display: none;
}
.search {
    position: relative;
    padding: 1rem;
    background: #f1f3f6;
}
.search input {
    margin-top: .5rem;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 30px 0 40px;
    line-height: 2rem;
    width: 100%;
}
.search input:focus {
    box-shadow: 0 0 2px #00BCD4;
}
.search a {
    display: block;
    border-radius: 5px;
    margin: .5rem auto 0 auto;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    font-size: 1.2rem;
    background: #fff;
    color: #00BCD4;
}
.select-date, .select-other {
    display: flex;
    text-align: center;
    height: 2rem;
}
.select-date select {
    flex: 1;
    border: none;
    width: 50%;
}
.select-date select:hover {
    border: 1px solid #00BCD4;
}
.select-date span {
    padding: .8rem .4rem 0 .4rem;
}
    /*header*/
.header{
    border-bottom: .3rem solid #006ec9;
    padding: .5rem 1rem;
    font-size: 1rem;
    background: #00BCD4;
}
.header .logo{
    width: 10rem;
    height: 3rem;
}
.header .logo img {
    width: 100%;
    height: 100%;
}
.header .login {
    text-align: center;
    color: #fff;
}
.header .login a {
    display: inline-block;
    padding-top: .5rem;
    color: #fff;
 }
.header .login .phone {
    padding-top: .3rem;
}
/*end header*/

/*footer*/
.footer{
    border-top: .3rem solid #00BCD4;
    padding: .5rem 1rem 5rem 1rem;
    text-align: center;
    color: #666;
    font-size: 1rem;
    background: #fff;
    line-height: 2rem;
}
/*end footer*/
/**************************** common end *****************************/

/**************************** 首页 开始 *****************************/
.index_banner img{width:100%;    vertical-align: top;}
.index_banner{position:relative;}
.index_banner .banner_wrap{width:24px;margin:0 auto;}
.index_banner .banner_count{position:absolute;bottom:10px;}
.index_banner .banner_count li{float:left;color:transparent;width:8px;height:8px;margin-right:8px;background:#907e75; border-radius:50%;}
.index_banner .banner_count .on{ background:#fff;}
.mIndex-boxes {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 50;
    align-items: center;
}
.mIndex-boxes a {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
}
.mIndex-boxes .box{
    height: 6rem;
    position: relative;
    overflow: hidden;
    border: .1rem solid #00BCD4;
}
.mIndex-boxes .box1{
    background: url("../img/WebsiteImg/lFW66868784Ce.jpg") no-repeat center;
    background-size: cover;
}
.mIndex-boxes .box2{
    background: url("../img/WebsiteImg/jZV66869158cO.jpg") no-repeat center;
    background-size: cover;
}
.mIndex-boxes .box3{
    background: url("../img/WebsiteImg/RFI66869187ga.jpg") no-repeat center;
    background-size: cover;
}
.mIndex-boxes .box4{
    background: url("../img/WebsiteImg/cqv66869359Lq.jpg") no-repeat center;
    background-size: cover;
}
.mIndex-boxes .trapezoid{
    width: 60%;
    height: 6rem;
    position: absolute;
    right: -2rem;
    background: linear-gradient(top,#fbfbfb,#d2cfd0);
    background: -webkit-linear-gradient(top,#fbfbfb,#d2cfd0);
    background: -ms-linear-gradient(top,#fbfbfb,#d2cfd0);
    background: -moz-linear-gradient(top,#fbfbfb,#d2cfd0);
    background: -o-linear-gradient(top,#fbfbfb,#d2cfd0);
    -webkit-transform: skew(-30deg,0deg);
    -ms-transform: skew(-30deg,0deg);
    -moz-transform: skew(-30deg,0deg);
    -o-transform: skew(-30deg,0deg);
    transform: skew(-30deg,0deg);
}
.mIndex-boxes span{
    position: absolute;
    top: 2rem;
    right: .5rem;
    color: #333;
    font-size: 1.1rem;
}
.mIndex-boxes i{
    display: block;
    position: absolute;
    top: 18%;
    left: 0;
    right: 0;
    width: 3rem;
    margin: auto;
    color: #fff;
}

.pursuit-quality {
    border-bottom: .8rem solid #f5f5f5;
    padding: 0 0 1rem 0;
    background: #fff;
}
.pursuit-quality .pic{
    width: 100%;
    height: 5rem;
    padding-bottom: 1rem;
}
.pursuit-quality .pic img{
    width: 100%;
    height: 100%;
}
.pursuit-quality p{
    line-height: 2rem;
    font-size: 1.1rem;
    text-align: center;
    font-family: arial;
    color: #999999;
}
.pursuit-quality .chinese{
    font-family: 微软雅黑;
    color: #333333;
}
.aftermarket h3, .mIndex-device h3, .mIndex-dynamic h3 {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: normal;
}
.aftermarket h3:before, .mIndex-device h3:before, .mIndex-dynamic h3:before {
    position: relative;
    top: .3rem;
    left: .5rem;
    float: left;
    display: block;
    margin-right: .8rem;
    width: 4px;
    height: 1rem;
    background: #00BCD4;
    content: '';
}
.aftermarket, .mIndex-device, .mIndex-dynamic {
    border-bottom: .8rem solid #f5f5f5;
}
.aftermarket ul {
    display: flex;
    flex-wrap: wrap;
}
.aftermarket li {
    box-sizing: border-box;
    width: 50%;
    padding: 0.5rem;
}
.aftermarket img {
    width: 100%;
}
.mIndex-device ul {
    display: flex;
    flex-wrap: wrap;
}
.mIndex-device li {
    box-sizing: border-box;
    width: 50%;
    padding: 0.5rem;
    text-align: center;
}
.mIndex-device img {
    width: 100%;
}
.mIndex-device h5 {
    padding-top: .5rem;
}
.mIndex-dynamic h4 {
    padding: .8rem 1rem;
    font-size: 1.1rem;
    color: #00BCD4;
}
.mIndex-dynamic p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-indent: 2em;
    line-height: 2rem;
    font-size: 1.1rem;
}
.mIndex-dynamic li {
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
}
.mIndex-dynamic img {
    width: 100%;
}
.mIndex-about .pic {
    width: 10rem;
    margin: 0 auto;
}
.mIndex-about .pic img {
    width: 100%;
}
.mIndex-about {
    background: #fff;
    padding: 1.2rem;
}
.mIndex-about h3 {
    font-weight: normal;
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem 0;
    color: #00BCD4;
}
.mIndex-about p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    line-height: 2rem;
    font-size: 1.1rem;
    font-family: arial;
    text-indent: 2em;
}
.mIndex-about .link{
    color: #999999;
}

.news-list{
    background: #fff;
    padding: .5rem 0;
}
.news-list .list{
    padding: 0;
    margin: 0;
}
.news-list a{
    color: #585858;
}
.news-list-title{
    padding: 0.5rem 1rem 1rem 1rem;
    display: inline;
    border-bottom: 2px solid #00BCD4;
    font-weight: normal;
    color: #00BCD4;
    position: relative;
    top: 2px;
}
.news-list h2{
    border-bottom: 2px solid #e5eff6;
}
.news-list h2 a {
    padding-right: 0.6rem;
    color: #005ea8;
    padding-top: 1rem;
}
.news-list li{
    position: relative;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 0.8rem;
    font-size: 1.2rem;
}
.news-list span{
    color: #585858;
    flex: 1;
}
.backTop {
    box-sizing: border-box;
    padding-right: 1rem;
    height: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.4rem;
    background-color: #00BCD4;
}
.backTop span {
    display: inline-block;
    border-left: .5rem solid transparent;
    border-bottom: .5rem #000 solid;
    border-right: .5rem solid transparent;
}
.nav {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: .3rem 0;
    border-top: 1px solid #ddd;
    width: 100%;
    background-color: #fff;
}
.nav li {
    display: inline-block;
    text-align: center;
    width: 20%;
    float: left;
}
.nav .box-font {
    font-family: iconfont;
    font-size: 1.8rem;
    color: #565151;
}
.nav span {
    color: #565151;
}
.nav .box2 .box-font {
    color: #00BCD4;
}
.nav .box2 span {
    color: #00BCD4;
}
/**************************** 首页 结束 *****************************/

/**************************** 关于我们 开始 *****************************/
.mAbout {
    background: #fff;
}
.mAbout h3 {
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}
.mAbout p {
    padding: 1rem;
    background: #fff;
    text-indent: 2em;
    font-size: 1.2rem;
    line-height: 2.2rem;
}
.mAbout img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
/**************************** 关于我们 结束 *****************************/

/**************************** 业界动态 开始 *****************************/
.public-title {
    background: #fff;
    border-bottom: 2px solid #e5eff6;
}
.public-title div {
    padding: 1rem;
    display: inline;
    border-bottom: 2px solid #00BCD4;
    font-weight: normal;
    color: #00BCD4;
    position: relative;
    top: 2px;
}
.public-title a {
    padding-right: 0.6rem;
    color: #005ea8;
    padding-top: 1.4rem;
}
.mDynamic a {
    display: flex;
    padding: .6rem;
}
.mDynamic .picture {
    width: 40%;
}
.mDynamic img {
    width: 120px;
    height: 60px;
}
.mDynamic .message {
    flex: 1;
    width: 100%;
    padding: .5rem;
}
.mDynamic h3 {

}
.mDynamic span {
    display: inline-block;
   padding-top: .5rem;
}
/**************************** 业界动态 结束 *****************************/

/**************************** 联系我们 开始 *****************************/
.mContact h3 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0 1rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.1rem;
    background-color: #f1f3f5;
}
.mContact div {
    padding: 1rem;
    font-size: 1.2rem;
}
.mContact img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.mapBox {
    height: 20rem;
}
/**************************** 联系我们 结束 *****************************/

/**************************** 登录 结束 *****************************/
.mUsLogin {
    width: 100%;
    height: 100%;
    /*background: url(../img/WebsiteImg/VJY66873272lr.jpg) no-repeat;*/
    background-size: cover;
    text-align: center;
}
.mUsLogin h2 {
    font-size: 4rem;
    font-weight: normal;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 3rem;
    color: #fff;
}
.mUsLogin h2 img {
    width: 62%;
}
.mUsLogin input {
    display: block;
    border-radius: 2rem;
    border: 1px solid #03A9F4;
    margin: 1.5rem auto 0 auto;
    text-indent: 2rem;
    width: 20rem;
    height: 3rem;
    font-size: 1rem;
    background: transparent;
}
.mUsLogin input:-moz-placeholder {
    color: #03A9F4;
    opacity:1;
}

.mUsLogin input::-moz-placeholder {
    color: #03A9F4;opacity:1;
}

.mUsLogin input:-ms-input-placeholder{
    color: #03A9F4;opacity:1;
}

.mUsLogin input::-webkit-input-placeholder{
    color: #03A9F4;opacity:1;
}
.mUsLogin .btn {
    border-radius: 2rem;
    margin: 1.5rem auto 0 auto;
    width: 20rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.4rem;
    background: #56b3f5;
    color: #fff;
}
.mUsLogin a {
    display: inline-block;
    padding-top: .5rem;
    font-size: 1rem;
    color: #b2d3db;
}
/**************************** 登录 结束 *****************************/

/**************************** 用户中心 开始 *****************************/
.mUser-avatar {
    position: relative;
    height: 10rem;
    background: #9d9d9d;
    background: url(../img/WebsiteImg/Hox66876757Ed.jpg);
 }
.mUser-avatar div {
    position: absolute;
    top: -15%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 6rem;
    height: 6rem;
    text-align: center;
}
.mUser-avatar span {
    display: block;
    padding-top: 2.6rem;
    font-size: 1.1rem;
}
.mUser-avatar img {
    border-radius: 50%;
    width: 100%;
}
.mUser-list {
    background-color: #f5f5f5;
}
.mUser-option-meg {
    margin-top: 1rem;
    border-top: 1px solid #dfdfdf;
}
.mUser-option h2 {
    border-bottom: 1px solid #dfdfdf;
    padding: 0px 16px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: normal;
    color: #333;
    background-color: #fffeff;
}
.mUser-option .title {
    text-align: center;
}
.mUser-option li {
    height: 40px;
    background: #f3fafb;
    font-size: 14px;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 16px;
    border-bottom: 1px solid #dfdfdf;
    color: #333333;
    font-weight: normal;
}
.mUser-option li a {
    display: block;
}

.mUser-list .arrow_right {
    display: inline-block;
    width: 8px;
    height: 15px;
    background-size: cover;
    vertical-align: middle;
    margin-top: 13px;
    margin-left: 19px;
}
.mUser-list .arrow {
    display: inline-block;
    width: 15px;
    height: 8px;
    background-size: cover;
    vertical-align: middle;
    margin-top: 15px;
    margin-left: 12px;
}
.mUser-list .arrow_right {
    background: url(../img/WebsiteImg/sIt66877618JR.jpg) no-repeat center;
    background-size: cover;
}
.mUser-list .arrow {
    background: url(../img/WebsiteImg/nnc66877793oI.jpg) no-repeat center;
    background-size: cover;
}
/**************************** 用户中心 结束 *****************************/

/**************************** 用户中心 开始 *****************************/
.device .deviceList-head, .device .deviceList-item a{
    display: flex;
    box-sizing: border-box;
    padding: .8rem 1rem;
    box-shadow: 0px 1px 2px #eee;
}
.device li span {
    flex: 1;
}
.device a img {
    width: 100%;
}
.deviceList-item:nth-child(even) {
    background-color: #f5f5f5;
}
.deviceList-item:nth-child(odd) {
    background-color: #dfe1e2;
}
.device .device-complain img {
    position: relative;
    top: -.4rem;
    left: -.4rem;
    width: 2.2rem;
    height: 2.2rem;
}
.deviceList-item p {
    padding: .2rem;
}
.device h3 {
    padding-top: .5rem;
    font-weight: normal;
}
.device .device-bespeak-word {
    color: #ff503c;
}
.device .device-complain-fl {
    color: #aaa;
}
@font-face {
    font-family: 'iconfont';  /* project id 289598 */
    src: url('//at.alicdn.com/t/font_qruo1288ha68ncdi.eot');
    src: url('//at.alicdn.com/t/font_qruo1288ha68ncdi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_qruo1288ha68ncdi.woff') format('woff'),
    url('//at.alicdn.com/t/font_qruo1288ha68ncdi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_qruo1288ha68ncdi.svg#iconfont') format('svg');
}
.device-icon {
    font-family: 'iconfont';
    width: 2.4rem;
    font-size: 2rem;
    color: #03A9F4;
}
.sketchMap-icon {
    font-family: 'iconfont';
    width: 2.4rem;
    font-size: 2rem;
    color: #FF5722;
}
.message-icon {
    font-family: 'iconfont';
    width: 2.4rem;
    font-size: 2rem;
    color: #00BCD4;
}
.bespeak-icon {
    font-family: 'iconfont';
    width: 2.4rem;
    font-size: 2rem;
    color: #E91E63;
}
.complain-icon {
    font-family: 'iconfont';
    width: 2.4rem;
    font-size: 2rem;
    color: #f00;
}
.service-icon {
     font-family: 'iconfont';
     width: 2.4rem;
     font-size: 2rem;
     color: #FF5722;
}
/**************************** 用户中心 结束 *****************************/

/**************************** 摆位图 结束 *****************************/
.sketchMap ul {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 50;
}
.sketchMap li {
    box-sizing: border-box;
    padding: 1rem;
    width: 50%;
    box-shadow: 0px 1px 2px #eee;
}
.sketchMap img {
    width: 100%;
}
.sketchMap h3 {
    padding-top: .5rem;
    font-weight: normal;
}
/**************************** 摆位图 结束 *****************************/

/**************************** 设备详情 结束 *****************************/
.deviceDetails-h2 {
    font-size: 20px;
    font-weight: bold;
    color: #57be58;
    padding-top: 10px;
    padding-left: 5px;
    text-align: center;
}
.courseList{margin-top:10px;padding-left:15px; background:#fff;}
.courseList li{display:flex;font-size:14px;border-bottom:1px solid #e2e2e3;padding: 13px 20px 13px 8px; line-height:22px;}
.courseList li .courseList_content{-webkit-flex:1; text-align:right;}
.courseList .cost_count1{color:#c9c9c9;padding-right:18px;}
.deviceDetails-btn {
    display: flex;
}
.deviceDetails-btn a {
    width: 26%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin: 30px auto 40px auto;
    font-size: 18px;
    box-shadow: 0px 1px 5px #9E9E9E;
}
.deviceDetails-btn .btn-reservation {
    background: #2196F3;
}
.deviceDetails-btn .btn-Complaints {
    background: #e0dedf;
}
.deviceDetails-btn .btn-back {
    background: #8BC34A;
}
.course_button{width:80%;height:50px;line-height:50px; text-align:center;color: #fff;background: #53ceca;border-radius:5px; margin: 10px auto 30px auto;
    font-size:18px;box-shadow: 0px 1px 5px #9E9E9E;}
/**************************** 设备详情 结束 *****************************/

/**************************** 服务预约 开始 *****************************/
/*.bespeak {
    padding-bottom: 2rem;
    width: 100%;
    min-height: 100%;
    background: url(../img/WebsiteImg/VJY66873272lr.jpg) no-repeat;
    background-size: cover;
}
.bespeak input, .bespeak select, .bespeak textarea {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 1rem auto 0 auto;
    padding-left: 1rem;
    width: 15rem;
    height: 2.2rem;
}
.bespeak textarea {
    height: 5rem;
}
.bespeak button {
    display: block;
    border-radius: 5px;
    margin: 2rem auto 0 auto;
    background-color: #86ea8a;
    width: 8rem;
    height: 2.5rem;
    box-shadow: 0px 1px 4px #4CAF50;
}*/
.bespeak h2 {
    text-align: center;
    padding-top: 1rem;
    color: #00BCD4;
    font-size: 1.3rem;
}
.m-page h2 {
    text-align: center;
    padding: 1rem 1rem 0 1rem;
    color: #00BCD4;
    font-size: 1.3rem;
}
.m-page h2 a {
    font-size: 1.6rem;
    color: #00BCD4;
}
/**************************** 服务预约 结束 *****************************/

/**************************** 投诉 开始 *****************************/
.complain {
    padding-bottom: 2rem;
    width: 100%;
    min-height: 100%;
    background: url(../img/WebsiteImg/VJY66873272lr.jpg) no-repeat;
    background-size: cover;
}
.complain textarea {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 1rem auto 0 auto;
    padding-left: 1rem;
    width: 22rem;
    height: 16rem;
}
.complain h2 {
    text-align: center;
    padding-top: 3rem;
    color: #2196F3;
    font-size: 1.4rem;
}
.complain button {
    display: block;
    border-radius: 5px;
    margin: 2rem auto 0 auto;
    background-color: #86ea8a;
    width: 8rem;
    height: 2.5rem;
    box-shadow: 0px 1px 4px #4CAF50;
}
/**************************** 投诉 结束 *****************************/

/**************************** 反馈 开始 *****************************/
.mFeedback {
    padding-bottom: 2rem;
    width: 100%;
    min-height: 100%;
    background: url(../img/WebsiteImg/VJY66873272lr.jpg) no-repeat;
    background-size: cover;
}
.mFeedback h2 {
    text-align: center;
    padding-top: 3rem;
    color: #2196F3;
    font-size: 1.4rem;
}
.mFeedback .content {
    margin: 2rem auto 0 auto;
    border: 1px solid #8BC34A;
    background-color: #e4f3ff;
    padding: 1.4rem;
    width: 20rem;
    min-height: 30rem;
    font-size: 1.1rem;
}
/**************************** 反馈 结束 *****************************/

/**************************** 记录列表 开始 *****************************/
.mRecordList li {
    display: flex;
    padding: 1rem .6rem ;
}
.mRecordList li span {
    flex: 1;
}
.mRecordList li:nth-child(even) {
    background-color: #f5f5f5;
}
.mRecordList li:nth-child(odd) {
    background-color: #dfe1e2;
}
.mRecordList li .delete {

}
.mRecordList li .details {

}
.mRecordList li .feedback {

}
.mRecordList .picture {
    width: 40%;
}
.mRecordList img {
    width: 100%;
}
.mRecordList .message {
    flex: 1;
    width: 100%;
    padding: .5rem;
}
.mRecordList h3 {
    font-weight: normal;
}
/**************************** 记录列表 结束 *****************************/

/**************************** 我的信息 结束 *****************************/
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 2.5%;
    max-width: 750px;
    margin: 0 auto;
}
.mcdiv {
    width: 95%;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #d1d1d1;
    border-bottom: none;
    margin-bottom: 2.5%;
}
.mcdiv11, .mcdiv12 {
    margin-top: 2.5%;
}
.mcdiv li {
    padding: 2% 3%;
    line-height: 2.5;
    border-bottom: 1px solid #d1d1d1;
}
.mcdiv li select {
    border: none;
}
.mcdiv li textarea {
    width: 100%;
    height: 2.5em;
    color: #959595;
    border: none;
    height: 10rem;
}
.mcdiv li strong {
    display: inline-block;
    width: 90px;
    text-align: right;
}
.mcdiv p {
    padding: 1% 3%;
    line-height: 2.5;
    border-bottom: 1px solid #d1d1d1;
}
.mcdiv p .input1 {
    width: 65%;
    height: 2.5em;
    color: #959595;
}
.mcdiv p .textarea {
    width: 100%;
    height: 2.5em;
    color: #959595;
    border: none;
    height: 10rem;
}
.mcdiv p span {
    color: #959595;
}
.mcdiv11 .select_width {
    width: 20%;
    font-size: 1em;
    border: none;
    color: #959595;
}
.m-page .wrap .btn {
    width: 95%;
    margin: 2.5% auto;
    background: #00BCD4;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 3rem;
}
/**************************** 我的信息 结束 *****************************/

/**************************图纸弹出层***************************/
.Drawing {
   /* position: fixed;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*width: 100%;
    height: 100%;*/
    z-index: 100;
    background-color: rgba(33,33,33,.5);
}
.Drawing #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1000px;
}
.Drawing #map img {
    width: 100%;
}
.area {
    display: block;
    position: absolute;
    background-color: rgba(135, 241, 13, 0.329412);
    left: 0px;
    top: 0px;
}
.shade {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 300px;
    background-color: #fff;
    z-index: 10;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0px 0px 5px #8bc34a;
}
.shade .param {
    min-height: 110px;
}
.shade .details {
    display: block;
    width: 115px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    color: #8BC34A;
    border-radius: 5px;
    border: 1px solid #8BC34A;
}
.shade .details:hover {
    background-color: #8BC34A;
    color: #fff;
}
/**************************二维码弹出层***************************/
.qr-code-shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(33,33,33,.5);
}
.qr-code-shade img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    background: #fff;
}
/*********************dialog*********************/
.dia-ba{position:fixed;top:0;left:0;z-index:100000;width:100%;height:100%;background:#000;opacity:.4;filter:alpha(opacity=40)}
.dialog{position:fixed;top:0;right:0;bottom:0;left:0;z-index:100001;overflow:hidden;margin:auto;width:80%;height:200px;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:5px;background:#fff;}
.dialog .dialog-title{padding:10px;border-bottom:1px solid #ddd;color:#333;font-weight:700;font-size:14px}
.dialog-content{
    color: #333;
    font-weight: 400;
    font-size: 14px;
    max-height: 80px;
    text-align: left;
    padding: 0 20px;
    overflow: hidden;
    margin: 20px 0;
    min-height: 40px;
}
.sure{font-size: 14px;float:right;margin-right:20px;padding:7px 12px;width:50px;border-radius:4px;background:#337ab7;color:#fff !important;text-align:center;white-space:nowrap;font-weight:400;line-height:1.42857143;transition:.1s all ease-in-out}
.sure:hover{background:#2e6da4}