/*----------------------------健身计时页面-------------------------------*/
@font-face {
    font-family: 'iconfont';  /* project id 299128 */
    src: url('//at.alicdn.com/t/font_kyele6m4h9u4ygb9.eot');
    src: url('//at.alicdn.com/t/font_kyele6m4h9u4ygb9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_kyele6m4h9u4ygb9.woff') format('woff'),
    url('//at.alicdn.com/t/font_kyele6m4h9u4ygb9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_kyele6m4h9u4ygb9.svg#iconfont') format('svg');
}
.timer-icon {
    font-family: iconfont;
    color: #009a44;
    font-size: 1.1em;
}
.timer-box h3 {
    text-indent: 0;
}
.timer-box .content {
    padding: 2em 0 1em 0;
    text-align: center;
    font-size: 2em;
    color: #f00;
}
#qrcode img {
    width: 100%;
}
/*----------------------------会员中心-个性签名------------------------------*/
.signature-shade .shade-content {
    padding-top: 2em;
}
.hide {
    display: none;
}
.signature-shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(33,33,33,.5);
}
.signature-shade .shade-box{
    position: fixed;
    top: 32%;
    left: 0;
    right: 0;
    bottom: 32%;
    margin: auto;
    width: 90%;
    background: #fff;
}
.signature-shade .signature-shade-confirm {
    display: block;
    margin: 2em auto;
    font-size: 1em;
    color: #fff;
    letter-spacing: 1em;
    padding: 0.5em 1.2em 0.5em 2.2em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    background: #009944;
}
.more-box {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    margin-top: 0.5em;
    overflow: hidden;
}

.more-box a {
    color: #fff;
    float: right;
    margin-top: 3%;
    background: #094;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
}
/*----------------------------会员中心-我的荣耀------------------------------*/
.content b {
    color: #eb6100;
    font-weight: 400;
}
.content li img {
    margin-right: .8em;
}
.content .medal {
    position: relative;
    top: -1em;
}
.medal-shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(33,33,33,.5);
}
.medal-shade .shade-box {
    position: fixed;
    top: 24%;
    left: 0;
    right: 0;
    /*bottom: 24%;*/
    margin: auto;
    width: 80%;
    border-radius: 0 0 20px 20px;
    background: #fff;
    /*background: url(medal-bg.jpg) no-repeat center center;
    background-size: cover;*/
}
.medal-shade .medal-pic img {
    display: block;
    margin: 4em auto;
    width: 10em;
}
.medal-shade .medal-explain {
    height: 10em;
    text-align: center;
    border-radius: 0 0 20px 20px;
    background: #4CAF50;
    color: #fff;
}
.medal-shade .medal-explain h3 {
    font-size: 2em;
    padding-bottom: .5em;
}
.medal-shade .medal-explain .first {
    position: relative;
    top: -1em;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    font-size: 1.4em;
    border: 5px solid #fff;
    border-radius: 50%;
    z-index: 101;
    background: #4CAF50;
}
.medal-shade .medal-explain span {
    font-size: 1.5em;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix {
    zoom: 1;
}
.header {
    height: 100px;
    background: #fff;
}
.header .header-pic {
    width: 40%;
}

.header .header-pic img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 10px auto 0 auto;
}

.header .header-text {
    width: 60%;
}

.header .text-name {
    display: block;
    font-size: 18px;
    color: #333333;
    margin-top: 36px;
}
.wrap-box-two {
    padding: 2.5%;
    background: #fff;
}
/*----------------------------会员中心-充值分钟数------------------------------*/
.minute-shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(33,33,33,.5);
}
#payText {
    text-align: center;
    line-height: 30px;
    color: #FFEB3B;
}
.minute-shade .shade-box {
    width: 95%;
    padding: 2.5%;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #dcdcdc;
    font-size: 1.5em;
    position: fixed;
    z-index: 10000;
    max-width: 750px;
    left: 2.5%;
    top: 25%;
}
.minute-shade li {
    float: left;
    width: 30.5%;
    margin: 0 2.5% 10px 0;
    font-size: 1.5em;
    float: left;
    text-align: center;
    line-height: 2.5;
    border: 1px dotted #959595;
    cursor: pointer;
    display: block;
    color: #a0a0a0;
}
.minute-shade .pay-box {
    line-height: 3;
    font-size: 1.2em;
}
.minute-shade .pay-box a:nth-of-type(1) {
    display: block;
    width: 60%;
    text-align: center;
    color: #fff;
    background: #009944;
    border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    float: left;
    margin-left: 20%;
}
.minute-shade .pay-box a:nth-of-type(2) {
    float: right;
    color: #a0a0a0;
}
/*----------------------------邻居详情------------------------------*/
.neighbor-shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(33,33,33,.5);
}
.neighbor-shade .shade-box {
    position: fixed;
    top: 16%;
    left: 0;
    right: 0;
    /*bottom: 24%;*/
    margin: auto;
    width: 82%;
    border-radius: 0 0 20px 20px;
    background: #fff;
}
/*----------------------------锻炼排行------------------------------*/
.ranking li {
    display: flex;
    padding: .6em 1em;
    /*border-bottom: 1px solid #dcdcdc;*/
}
.ranking .title {
   /* border: none;*/
}
.ranking .ranking-count {
    display: inline-block;
    padding-top: 1.8em;
    width: 20%;
}
.ranking .ranking-message {
    display: inline-block;
}
.ranking .message-pic {
    display: inline-block;
    width: 20%;
}
.ranking .message-pic img {
    width: 100%;
    border-radius: 50%;
}
.ranking .message-text {
    display: inline-block;
    padding-left: 1em;
}
.ranking .message-text strong {
    display: block;
    padding-top: .6em;
    font-weight: normal;
    color: #3c3c3c;
    font-size: 1.6em;
}
.ranking .message-text span {
    display: block;
    padding-top: .6em;
    color: #b4b4b4;
}
.title-add {
    padding-top: .6em;
}
.ranking .title i {
    font-family: iconfont;
    color: #4CAF50;
}
.ranking li i {
    font-family: iconfont;
    padding-top: .3em;
    font-size: 3.2em;
}
.first-icon {
    color: #F44336;
}
.second-icon {
    color: #FFC107;
}
.third-icon {
    color: #2196F3;
}
.longest-icon {
    color: #FF5722;
}
.week-icon {
    color: #FFEB3B;
}
/*----------------------------专项通道验证页面------------------------------*/
.verification-header {
    width: 95%;
    margin: .5rem auto 0 auto;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background-color: #009a44;
    color: #fff;
}
.verification-header a {
    width: 1.8rem;
    font-size: 1.4rem;
    color: #fff;
}
.verification-header strong {
    font-weight: normal;
    font-size: 1.2rem;
}
.m-page h2 {
    text-align: center;
    padding: 1rem 1rem 0 1rem;
    color: #009a44;
    font-size: 1.2rem;
}
.m-page h2 a {
    font-size: 1.6rem;
    color: #009a44;
}
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 2.5%;
    max-width: 750px;
    margin: 0 auto;
}
.mcdiv {
    width: 95%;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #d1d1d1;
    border-bottom: none;
    margin-bottom: 2.5%;
}
.mcdiv11, .mcdiv12 {
    margin-top: 2.5%;
}
.mcdiv p {
    padding: 1% 3%;
    line-height: 2.5;
    border-bottom: 1px solid #d1d1d1;
}
.mcdiv p .input1 {
    width: 65%;
    height: 2.5em;
    color: #959595;
}
.m-page .wrap .btn {
    width: 95%;
    margin: 2.5% auto;
    background: #009a44;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 2.4rem;
}


.open-door-shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(33,33,33,.5);
}
.open-door-shade .shade-module {
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    /*bottom: 24%;*/
    margin: auto;
    width: 76%;
    border-radius: 0 0 20px 20px;
    background: #fff;
    border-radius: 5px;
}
.open-door-shade .module-head {
    height: 2.6rem;
    line-height: 2.6rem;
    text-align: center;
    font-size: 1.1rem;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    color: #f00;
}
.open-door-shade .module-content {
    padding: 0 1rem .4rem 1rem;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    color: #7b6f6f;
}
.open-door-shade .module-content span {
    color: #f00;
}
.open-door-shade .module-btn {
    display: flex;
    border-top: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
}
.open-door-shade .module-btn a {
    flex: 1;
    height: 2.6rem;
    line-height: 2.6rem;
    text-align: center;
    font-size: 1.1rem;
}
.open-door-shade .btn-confirm {
    border-right: 1px solid #4CAF50;
    color: #fff;
    background: -webkit-linear-gradient(left,#4CAF50,#4CAF50,#4CAF50);
    border-radius: 0 0 0 5px;
}
.open-door-shade .btn-cancel {
    background: -webkit-linear-gradient(left,#9E9E9E,#9E9E9E,#9E9E9E);
    color: #fff;
    border-radius: 0 0 5px 0;
}

.select-list {
    display: flex;
}
.select-list div {
    flex: 1;
    text-align: center;
}
.select-list .list-parent {
    border-right: 1px solid #9e9e9e;
}
.arrow-icon {
    font-family: iconfont;
}
.select-list-shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(33,33,33,.5);
}
.select-list-shade .shade-template {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 24%;*/
    margin: auto;
    padding-bottom: 1rem;
    background: #fff;
}
.select-list-shade li h3 {
    padding: .8rem .8rem 0 .8rem;
    color: #868383;
    font-size: .9rem;
    font-weight: 700;
}
.select-list-shade li .template-line, .select-list-shade li .template-line-short {
    position: relative;
    top: -.3rem;
    display: inline-block;
    margin-left: .5rem;
    width: 76%;
    border-top: 1px solid #ddd;
}
.select-list-shade li .template-line-short {
    width: 46%;
}
.select-list-shade li a {
    display: inline-block;
    padding: .5rem 1.1rem;
    margin: .5rem 0 0 .5rem;
    border: 1px solid #bbb5b5;
}
.select-list-shade li p {
    padding-top: 1.5rem;
    text-align: center;
    color: #9E9E9E;
}
.select-list-shade li .current {
    background: #e0e0e0;
}

.minute-template li strong {
    display: block;
    padding-top: .5em;
    font-size: 1.2em;
}
.minute-template li span {
    display: block;
    color: #d0cdcd;
    padding: .5em;
}
.balance {
    padding: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}
.balance span {
    color: #f1dd2e;
}