*{margin:0;padding:0;-webkit-tap-highlight-color: rgba(255, 0, 0, 0)}*,:after,:before{box-sizing:border-box}a,b,big,em,h1,h2,h3,h4,h5,h6,i,ins,small,strong,u{font-style:normal}a{color:#3a3a3a;text-decoration:none}a,button,input[type=button],input[type=submit]{cursor:pointer}a,input,select,textarea{outline:0}a,img{border:none}img{display:block}button,input,select{background:#fff}li,ol,ul{list-style-type:none}fl,fr{display:inline}.fl{float:left}.fr{float:right}clear:after{clear:both;display:block;content:''}table{width:100%}table th{font-weight:400}table,table td,table th,table tr{border-collapse:collapse}body{background:#f5f5f5;color:#555;font-family:微软雅黑;min-width:320px;max-width:640px;margin:auto;
font-size:12px;}
b{font-weight:normal;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.bo_r{border-right:1px solid #e2e2e3;}
.bo_b{border-bottom:1px solid #e2e2e3;}
body{ background:#f6f6f6;}
.header{height:100px;background:#fff;margin-top:2px;}
.header .header_pic{width:30%;}
.header .header_pic img{width:80px;height:80px;border-radius:50%;display:block;margin: 10px auto 0 auto;}
.header .header_text{width:70%;}
.header .text_head{display:flex;font-size:15px;color:#333333;margin-top:20px;padding-right:10px;}
.header .head_nickName{width:59%;}
.header .head_name{-webkit-flex:1;}
.header .text_vip{display:block;font-size:14px;color:#999999;margin-top:8px;}
.vipList{margin-top:10px;padding-left:15px; background:#fff;border-top:1px solid #e2e2e3;}
.vipList li{display:flex;padding: 18px 20px 18px 8px; line-height:22px;font-size:16px;border-bottom:1px solid #e2e2e3;}
.vipList li .vipList_content{-webkit-flex:1; text-align:right;}
.vipList li:nth-last-child(1){border:none;}
.vipList .arrow_icon{ display:inline-block;width:8px;height:17px; background:url(../images/vip/arrow_icon.png) no-repeat center/cover;
margin-left:18px; position: relative; top:3px;}
