@charset "utf-8";
.index-icon{display:block;width:25px;height:20px;margin:auto;}
.index-icon2{background:url(images/index-icon2.png) no-repeat scroll center/25px 20px;}
.index-icon4{background:url(images/index-icon4.png) no-repeat scroll center/25px 20px;}
.index-icon6{background:url(images/index-icon6.png) no-repeat scroll center/25px 20px;}
.index-icon7{background:url(images/index-icon7.png) no-repeat scroll center/25px 20px;}
.index-icon10{background:url(images/index-icon10.png) no-repeat scroll center/25px 20px;}
.current{color:#ff7c7c;font-weight:bold;}
.search-icon{display:inline-block;width:16px;height:16px;margin-bottom:-3px;margin-right:5px;}
.search-icon1{background:url(images/search-icon1.png) no-repeat;background-size:16px 16px;}
.search-icon2{background:url(images/search-icon2.png) no-repeat;background-size:16px 16px;}
.activity-icon{display:inline-block;width:15px;height:15px;margin-bottom:-3px;margin-right:5px;}
.activity-icon1{background:url(images/activity-icon1.png);background-size:15px 15px;}
.activity-icon2{background:url(images/activity-icon2.png);background-size:15px 15px;}
/*头部底部*/
.footer,.header{ position:fixed;left:0;width:100%;z-index:100;}
.header{ height:44px; line-height:44px; text-align:center;background:#ff7c7c; color:#fff; padding:0 15px;display:-webkit-box;display:-webkit-flex; display:flex;}
.head-center{flex:1}
.footer{position:fixed;bottom:0;left:0;width:100%;display:flex;text-align:center;height:50px;background-color:#fff;align-items:center;border-top:1px solid #ddd;box-shadow:0 0 2px #ddd;}
.bottom-nav{flex:1;border-right:1px solid #ddd;}
.bottom-nav:last-child{border:none;}
/*信息*/
.look-content{padding:44px 15px 0;background-color:#fff;}
.look-item{padding:10px 0;border-bottom:1px solid #ddd;}
.look-item img{width:20%;border-radius:3px;}
.look-text{padding-left:10px;width:80%;}
.look-text>*{margin-top:8px;}
.look-title h2{width:60%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.look-text p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}