@charset "utf-8";
.m-popup-icon{background:url(images/popup-close.png)no-repeat scroll center/20px 20px;display:inline-block;width:20px;height:20px;margin:15px 20px;}
.v-icon{display:inline-block;width:15px;height:15px;margin-bottom:-3px;margin-left:2px;background:url(images/v-icon.png);background-size:15px 15px;}
.my-icon-top{display:inline-block;width:22px;height:22px;margin-bottom:-4px;margin-right:4px;}
.my-icon1{background:url(images/my-icon1.png);background-size:22px 22px;}
.my-icon2{background:url(images/my-icon2.png);background-size:22px 22px;}
.my-icon{display:inline-block;width:40px;height:40px;}
.my-icon3{background:url(images/my-icon3.png)no-repeat scroll center/40px 40px;}
.my-icon4{background:url(images/my-icon4.png)no-repeat scroll center/40px 40px;}
.my-icon5{background:url(images/my-icon5.png)no-repeat scroll center/40px 40px;}
.my-icon6{background:url(images/my-icon6.png)no-repeat scroll center/40px 40px;}
.my-icon7{background:url(images/my-icon7.png)no-repeat scroll center/30px 30px;}
.my-icon8{background:url(images/my-icon8.png)no-repeat scroll center/30px 30px;}
.my-icon9{background:url(images/my-icon9.png)no-repeat scroll center/35px 35px;}
.my-icon10{background:url(images/my-icon10.png)no-repeat scroll center/40px 40px;}
.my-icon11{background:url(images/my-icon11.png)no-repeat scroll center/40px 40px;}
/*头部底部*/
.footer,.header{ position:fixed;left:0;width:100%;z-index:100;}
.header{ height:44px; line-height:44px; text-align:center;background:#ff7c7c; color:#fff; padding:0 15px;display:-webkit-box;display:-webkit-flex; display:flex;}
.head-center{flex:1}
.footer{position:fixed;bottom:0;left:0;width:100%;display:flex;text-align:center;height:50px;background-color:#fff;align-items:center;border-top:1px solid #ddd;box-shadow:0 0 2px #ddd;}
.bottom-nav{flex:1;border-right:1px solid #ddd;}
.bottom-nav:last-child{border:none;}
/*我的*/
/*顶部*/
.my-content{padding:44px 0 50px;}
.my-top{background:url(images/my-bg.jpg) no-repeat;background-size:100% 100%;padding:18%;width:100%;position:relative;}
.my-in{width:56%;height:80%;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;}
.my-in img{width:48%;border-radius:50%;}
.my-title{margin-top:15%;margin-left:10px;}
.my-top-nav{line-height:40px;height:46px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;display:flex;text-align:center;padding:3px 0;margin-bottom:15px;}
.my-top-nav>p{flex:1;border-right:1px solid #ddd;}
.my-top-nav>p:last-child{border:none;}
/*我的服务*/
.my-service{color:#000;}
.my-service h2{line-height:40px;padding-left:20px;height:40px;}
.my-service-list{display:flex; -webkit-flex-wrap:wrap;flex-wrap:wrap;text-align:center;border-top:1px solid #ddd;}
.my-service-list li{width:33.33%;font-size:14px;padding:15px 0;border-left:1px solid #ddd;border-bottom:1px solid #ddd;}
.my-service-list li:nth-child(3n+1){border-left:none;}
.my-service-list li a{color:#000;}
/*我的-底部广告*/
.my-ad{margin:15px 0;}
.my-ad img{width:100%}
/*弹出层*/
.popup-background,.popup-box{position:fixed}
.popup-background{top:0;right:0;bottom:0;left:0;z-index:1000;margin:auto;width:100%;height:100%;background:rgba(0,0,0,.4)}
.popup-box{top:20%;left:50%;z-index:1001;margin-left:-40%;width:80%;border-radius:10px;background:#fff;box-shadow:0 1px 6px #555;color:#000;font-family:-apple-system-font,Helvetica Neue,Helvetica,sans-serif;-webkit-margin-start:-40%;margin-start:-40%}
.popup-box__hd{position:relative;padding:1pc 15px;border-bottom:1px solid #ff7c7c;text-align:center;font-size:22px}
.popup-box__bd{padding:15px 20px;text-align:center}
.popup-box__fd{padding:0 20px 20px}
/*****----------------------*************/
.popup-new-attr{font-size:18px}
.popup-new-attr big{font-weight:400;font-size:40px}
.popup-new-check{display:flex;margin:10px auto;padding:15px 0;border-top:1px solid #ddd;border-bottom:1px solid #eee;font-size:1pc;align-items:center}
.popup-new-check span[role="radio"]{display:inline-block;margin-right:6px;width:1pc;height:1pc;border:1px solid #ddd;border-radius:2px;-webkit-appearance:none;appearance:none}
.popup-new-check label{display:block;flex:1}
.popup-new-check span{vertical-align:middle}
.popup-btn{display:block;width:100%;height:50px;border-radius:4px;background:#ff7c7c;box-shadow:0 0 0 1px #ff7c7c;color:#fff;text-align:center;font-size:20px;line-height:50px}
.popup-hd-ctrl{position:absolute;top:0;bottom:0;left:15px;margin:auto;width:20px;height:20px;background:url(images/close.png) no-repeat scroll center/cover;}
.checked{ background:url(images/checked.png) no-repeat scroll center/cover;}