@charset "utf-8";
/*************************************重置*************************************/
* {margin: 0;padding: 0;border:none;}
*, *:after, *:before {-webkit-tap-highlight-color: transparent;-webkit-box-sizing: border-box;box-sizing: border-box;}
.clearfix:after,.clearfix:before{ content:''; display: block; clear: both;}
img{display:block; width:100%;}
ul,li{ list-style-type:none;}
a{text-decoration:none; color:#666;}
a,input,textarea,select{ outline:none;}
input,textarea,button,select{font-family:Verdana, Geneva, sans-serif; width:100%;}
body{color:#333; min-height:320px;max-width:500px; background:#f1f3f6; font-size:12px;font-family:Arial; position:relative;}
s,u{text-decoration:none;}
.of{overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.fz16{font-size:16px;}
.fz14{font-size:14px;}
.col{color:#000;}
.col1{color:#fff;}
.col2{color:#ff7c7c;}
.col3{color:#ddd;}
.bg1{background-color:#ff7c7c;}
.bg2{background-color:#fff;}
.fw1{font-weight:normal;}
.fw2{font-weight:bold;}
.tc{text-align:center;}
/*首页导航图标*/
.index-nav-icon{display:block;width:20px;height:20px;margin: 8px 2px 0 0;}
.index-nav-icon1{background:url(images/index-nav-icon1.png) no-repeat scroll center/20px 20px;}
.index-nav-icon2{background:url(images/index-nav-icon2.png) no-repeat scroll center/20px 20px;}
.index-nav-icon3{background:url(images/index-nav-icon3.png) no-repeat scroll center/20px 20px;}
.index-nav-icon4{background:url(images/index-nav-icon4.png) no-repeat scroll center/20px 20px;}

/*************************************首页*************************************/
/*页眉*/
#top{background-color:#689fee;padding:5%;border-bottom:2px solid #ffc000;}
.index-top{height:40px;text-align:center;margin-bottom:5px;}
.index-top img{width:25%;margin-right:10px;}
.login-box{padding:10px;color:#fff}
.index-position{font-size:14px;padding-top:10px;position:absolute;left:5px;top: 0;bottom: 0;margin: auto;color:#689fee;}
.position-search-box .index-position{padding:21px 0 0 20px;}
.login-box a{color:#fff;font-size:14px;}
.index-icon-po,.index-icon-se{display:inline-block;width:20px;height:20px;margin:auto;}
.index-icon-po{background:url(images/index-icon-po.png) no-repeat scroll center/20px 20px;margin-bottom:-5px;}
.index-icon-se{background:url(images/index-icon-se.png) no-repeat scroll center/20px 20px;position:absolute;right:5px;top: 0;bottom: 0;margin: auto;}
.search-box,.position-search-box{position:relative;}
.search-box input,.position-search-box input{height:40px;line-height:40px;font-size:14px;border-radius:5px;}
.search-box input{padding:0 40px 0 60px;}
.position-search-box input{padding:0 40px 0 70px;}
.position-search-box{padding: 3%;}
/*页脚*/
#footer{background-color:#689fee;color:#fff;padding: 10% 0;text-align: center;font-size:14px;margin-bottom:30px;}
#footer p{margin-bottom:10px;color:#fff;}
/*导航*/
.home-nav{background-color:#fff;display:flex;  padding-bottom: 15px; flex-wrap:wrap;margin-bottom:8px;}
.nav-list{ width:25%; text-align:center; padding: 15px 0 0; font-size:12px;}
.nav-list a{display:block;}		
.nav-list i{ display:block; width:50px; height:50px;margin:auto; border-radius:16px;}
.nav-list p{ padding-top:4px;}
/*关注弹出层*/
#attentionPopup{display:none;position:fixed;width:100%;background-color:rgba(0,0,0,.5);height:100%;top:0;left:0;right:0;margin:auto;}
#attention{width:70%;top:0;left:0;right:0;bottom:0;margin:auto;position:fixed;}
#closeBtn{top:15%;right:5%;position:fixed;z-index:100;width:10%;}
/*广告*/
.ad{margin-bottom:8px;}
/*优职*/
.position-box,.talents-box,.partTime-box,.info-box{background-color:#fff;margin-bottom:8px;}
.position-header,.index-po-item,.talents-header,.index-po-item,.partTime-header,.index-po-item,.info-header,.index-po-item{padding:0 10px;}
.position-header,.talents-header,.partTime-header,.info-header{height:40px;line-height:40px;}
.position-header{border-bottom:1px solid #ee5871;}
.position-header h2{color:#ee5871;}
.index-po-item{height:50px;line-height:50px;border-bottom:1px solid #ddd;}
.index-po-item span,.index-po-item s{display:inline-block;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.index-po-item span{width:70%;margin-right:5%;}
.index-po-item s{width:25%;color:#ee5871;text-align: center;}
/*优才*/
.talents-header{border-bottom:1px solid #ff9d34;}
.talents-header h2{color:#ff9d34;}
.talents-box .index-po-item s{color:#ff9d34;}
/*学生兼职*/
.partTime-header{border-bottom:1px solid #2ecc71;}
.partTime-header h2{color:#2ecc71;}
.partTime-box .index-po-item s{color:#2ecc71;}
/*资讯*/
.info-header{border-bottom:1px solid #689fee;}
.info-header h2{color:#689fee;}
.info-box .index-po-item s{color:#689fee;}
/*底部导航*/
.index-footer{position:fixed;bottom:0;left:0;width:100%;z-index:100;display:flex;text-align:center;height:50px;background-color:#fff;align-items:center;border-top:1px solid #ddd;box-shadow:0 0 2px #ddd;}
.bottom-nav{flex:1;}
.bottom-nav:last-child{border:none;}
/*底部导航图标*/
.index-icon{display:block;width:20px;height:20px;margin:auto;}
.index-icon1{background:url(images/nav-bottom1.png) no-repeat scroll center/20px 20px;}
.index-icon2{background:url(images/nav-bottom2.png) no-repeat scroll center/20px 20px;}
.index-icon3{background:url(images/nav-bottom3.png) no-repeat scroll center/20px 20px;}
.index-icon4{background:url(images/nav-bottom4.png) no-repeat scroll center/20px 20px;}
.index-icon5{background:url(images/nav-bottom5.png) no-repeat scroll center/20px 20px;}
.index-icon6{background:url(images/nav-bottom6.png) no-repeat scroll center/20px 20px;}
.index-icon7{background:url(images/nav-bottom7.png) no-repeat scroll center/20px 20px;}
.index-icon8{background:url(images/nav-bottom8.png) no-repeat scroll center/20px 20px;}
.index-icon9{background:url(images/nav-bottom9.png) no-repeat scroll center/20px 20px;}
.index-icon10{background:url(images/nav-bottom10.png) no-repeat scroll center/20px 20px;}
.current{color:#689fee;font-weight:bold;}

/*************************************优职/优才/学生兼职/资讯*************************************/
/*头部*/
.position-nav{display:flex; display: -webkit-flex;text-align:center;height:50px;align-items:center;background-color:#689fee;}
.position-nav li{flex:1;}
.position-nav li a{color:#fff;font-size:16px;}
.position-search-box .index-icon-se{right:25px;}
/*搜索标签导航*/
.searchLabel{flex-wrap: wrap;padding:0 0 10px 10px;background-color:#fff;margin:10px 0;}
.searchLabel li{float:left;width:33.33%;padding:10px 10px 0 0;text-align:center;font-size:14px;}
.searchLabel li>a{display:block;background:#ddd;padding:10px 0;color:#fff;border-radius:5px;}
/*内容*/
#position-content,#position-content1{background-color:#fff;border-top:1px solid #ddd;position:relative;}
#position-content{padding-bottom:50px;}
.po-se-box{height:40px;align-items:center;display:flex;}
.po-se-box select{flex:1;height:35px;border-bottom:1px solid #ddd;}
.po-co-item{height:50px;line-height:50px;padding: 0 5px;border-bottom:1px solid #ddd;}
.po-co-item input{width:5%;vertical-align: top;margin:19px 5px 0 5px;}
.po-text-box{display:inline-block;width:90%;}
.po-text-box h2,.po-text-box span{padding-right:10px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.po-text-box h2{width:70%;font-size:14px;font-weight:normal;}
.po-text-box span{display:inline-block;width:30%;font-size:14px;color:#ff9d34;}
/*按钮*/
.po-btn-box{background-color:#fafafa;padding:10px 20px;display:flex;}
.po-btn-box a{display:inline-block;flex:1;background-color:#fff;text-align:center;padding: 5px 10px;border:1px solid #ddd;margin-right: 5px;}
/*底部全选/申请/收藏*/
.po-bottom{height:50px;line-height:40px;padding:7px 5px;text-align:center;font-size:16px;position:fixed;bottom:0;left:0;background-color:#fff;border-top:2px solid #ff9d34;width:100%;color:#000;}
.check-all,.collect{width:25%;}
.check-all input{width:15px;}
.po-apply-btn{width:150px;height:36px;line-height:36px;display:inline-block;background-color:#ff9d34; border-radius:3px;color:#fff;}
.po-co-icon,.po-share-icon{display:inline-block;width:20px;height:20px;margin: 0 3px -3px 0;}
.po-co-icon{background:url(images/po-co-icon.png) no-repeat scroll center/20px 20px;}
.po-share-icon{background:url(images/po-share-icon.png) no-repeat scroll center/20px 20px;}

/*************************************资讯详情页*************************************/
.way{line-height:30px;font-size:14px;color:#000;padding-left:10px;}
.way a{color:#689fee;}
.way span{margin:0 5px;}
#info-de-co{background-color:#fff;color:#000;font-size:14px;padding:10px;}
#info-de-co h2{font-size:18px;color:#689fee;text-align:center;}
.article{ text-align:justify;line-height:24px;}
.article img{margin:15px 0;}
.article p{text-indent:2rem;}
#mailBox,#phone{color:#ff9d34;font-weight:bold;display:none;}

/*************************************登录*************************************/
/*头部*/
#login{background-color:#689fee;height:50px;align-items:center;position:relative;}
#login img,#login span{position:absolute;top:0;bottom:0;margin:auto;}
#login img{width:20%;left:15px;}
#login span{right:15px;color:#fff;line-height:50px;font-size:14px;}
/*内容*/
.login-content{text-align:center;padding:20px 5%;background-color:#fff;}
.login-content h2{color:#689fee;line-height:60px;border-bottom:1px dashed #ddd;font-size:24px;}
.login-btn{margin-top:30px;}
.login-btn a{display:block;height:50px;line-height:50px;color:#fff;font-size:20px;width:100%;border-radius:5px;font-weight:bold;margin-bottom:20px;}
.weixin-btn{background-color:#3ebb2b;}
.qq-btn{background-color:#689fee;}
.weibo-btn{background-color:#ffa217;}
.login-icon{display:inline-block;width:40px;height:40px;}
.login-icon1{background:url(images/login-icon1.png) no-repeat center scroll/40px 40px;}
.login-icon2{background:url(images/login-icon2.png) no-repeat center scroll/40px 40px;}
.login-icon3{background:url(images/login-icon3.png) no-repeat center scroll/40px 40px;}
.login-btn span,.login-icon{ vertical-align:middle;}

/*************************************劳务详情页*************************************/
#mailBox,#phone{color:#ff9d34;font-weight:bold;display:none;}
#job-details{position:relative;margin-bottom:10px;}
.job-de-content{background-color:#fff;padding:15px;}
.job-de-title{margin:0 0 10px;}
.job-de-title h2{color:#689fee;}
.job-de-title span{font-size:14px;}
.job-de-list li{width:50%;float:left;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;line-height:20px;padding-right:10px;}
/*说明*/
#m-job-body{background-color:#fff;}
.job-body-title,.job-body-article{padding:15px;}
.job-body-article{padding-top:0;font-size:14px;line-height:24px;text-align: justify;}
.job-body-title h2{padding-left:5px;border-left:3px solid #689fee;}
.inform-icon{display:inline-block;width:15px;height:15px;background:url(images/po-inform-icon.png) no-repeat center scroll/15px 15px;margin: 0 4px -3px 0;}
.inform-box span{color:#999; text-decoration:underline;}
.je-de-photo{width:40%;margin-bottom:10px;}
/*举报弹出层*/
#m-informPopUp{width:100%;height:100%;position:fixed;background-color:rgba(0,0,0,.5);z-index:100;top:0;bottom:0;left:0;right:0;margin:auto;font-size:14px;display:none;}
.popUpBox{ position:absolute;width:80%;height:60%; background-color:#fff;top:0;bottom: 0;left: 0;right: 0;margin: auto;padding:10%;border-radius: 5px;}
.popUpBox label{display:block;margin-bottom:5%;}
.popUpBox span{margin-left:3px;width:90%;}
.popUpBox input{display:inline-block;width:10%;}
.inform-btn2{height:36px;line-height:36px;background-color:#ffa217;margin:10% auto;position:absolute;left:0;right:0;width:90%;text-align:center;color:#fff;font-size:16px;border-radius:5px;}
#informClose{position:absolute;width:7%;right:5%;top:5%;}

/*************************************我的*************************************/
/*头部*/
#minetopBox{position:relative;}
.mine-top{height:90px;text-align:center;background-color:#689fee;padding:5%;}
.mine-top img{width:25%;margin-right:10px;}
.mine-publish{padding:10px;}
.mine-publish span{color:#fff;font-size:14px;vertical-align: middle;}
.mine-publish-icon{display:inline-block;width:30px;height:30px;background:url(images/mine-publish-icon.png) center no-repeat scroll/30px 30px;    vertical-align: middle;}
.mine-top2{height:90px;background-color:#fff;}
.portrait{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;width:90px;height:90px;text-align:center;}
.portrait img{border-radius:50%;margin-bottom:10px;border:2px solid #fff;}
.portrait p{font-size:14px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
/*内容*/
.Mine-content{font-size:14px;}
.Mine-content-item s{margin-right:3px;color:#ff9d34;}
.Mine-content-item p{line-height:34px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding-left:10px;}
.Mine-content-item input,.Mine-content-item select,.Mine-content-item textarea,.mine-multiple input,.mine-multiple select{padding:10px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background-color:#fff;}
.Mine-content-item textarea{height:100px;}
.mine-multiple{display:flex;}
.mine-multiple input,.mine-multiple select{flex:1;margin-right:5px;}
.upload-btn{display:block;width:100px;height:36px;color:#fff;font-size:16px;background-color:#689fee;line-height:36px;border-radius:3px;text-align:center;margin:10px 0;}
.Mine-item-special{display:flex;}
.Mine-item-special span{width:30%;display:inline-block;padding:0 0 0 10px;line-height:45px;}
.upload-box{flex:1}
.upload-box img{width:45%;margin:0 10px 15px 0;float:left;}
.mine-note{padding: 0 10px 20px;line-height: 18px;font-size:12px;}
.save-box{padding:10px;}
.save-btn{display:inline-block;width:100%;height:46px;color:#fff;font-size:16px;background-color:#ff9d34;line-height:46px;border-radius:5px;text-align:center;margin:10px 0;}
.quit-box{height:40px;background-color:#fff;text-align:center;font-size:16px;line-height:40px;margin-bottom:20px;}

/*************************************发布*************************************/
/*编辑/删除/预览*/
.release-menu{display:flex;background-color:#fff;padding:10px 0 10px 10px;margin-bottom:20px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.release-menu>span{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding-right:5px;}
.release-menu span,.menu-btn{flex:1;}
.menu-btn{display:flex;}
.menu-btn a{flex:1;display:inline-block;height:20px;text-align:center;color:#fff;line-height:20px;border-radius:10px;margin-right:5px;}
.edit{background-color:#ff9d34;}
.delete{background-color:#fe3939;}
.view{background-color:#689fee;}
/*需求时间*/
.need-date{display:flex;}
.need-date>.mine-multiple{flex:1;display:flex;}
.need-date>.mine-multiple>select{flex:1;font-size:12px;padding:5px;}
/*工作时间*/
.time-check{margin: 5px 10px;}
.time-check u{margin-right:10px;}
.time-check input{display: inline-block;width: 5%;}
.time-table{width:100%;}
.time-box{border:1px solid #ddd;text-align:center;background-color:#fff;border-bottom:none;margin-top:10px;display:none;}
.time-head li,.time-body li{float:left;width:25%;height:40px;line-height:40px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
.time-head li:last-child,.time-body li:last-child{border-right:none;}
.time-head .time-title,.time-body .time-title{width:25%;}
.time-head li,.time-title{background-color:#fafafa;}
.current1{ background:url(images/check.png) center no-repeat scroll;}
.extra{color:#666;margin:20px 0 0 15px;}
.extra input{width:5%;display:inline-block;}

/*************************************收藏*************************************/
.collect-box{background-color:#fff;border-bottom:1px solid #ddd;}
.collect-list{display:flex;padding:10px;border-top:1px solid #ddd;font-size:14px;}
.collect-list span{flex:1;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-right:5px;}
.collect-list p{width:25%;}

/*************************************联系我们*************************************/
/*头部底部*/
.header{ position:fixed;left:0;width:100%;z-index:100;}
.header{ height:44px; line-height:44px; text-align:center;background:#689fee; color:#fff; padding:0 15px;display:-webkit-box;display:-webkit-flex; display:flex;}
.head-center{flex:1}
/*联系我们*/
.activity-details-content{padding:44px 0 0 0;}
.activity-details-list{background-color:#fff;}
.activity-details-item h2{line-height:36px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background-color:#f1f3f5;color:#000;padding:0 10px;}
.activity-details-item p{padding:10px;font-size:14px;line-height:24px;}
.su-btn-box{text-align:center;margin:20px 0;}
.su-btn{display:inline-block;width:90%;border-radius:5px;background-color:#ff7f00;padding:10px 0;}

/*************************************网站地图*************************************/
.map{width: 100%;height: 400px;border: 1px solid #ddd; margin-top: 20px;padding:20px;}