@charset "utf-8";
.disclaimer_box{
	background-color:#f6f6f6;
}
.disclaimer{
	width:670px;
	margin:auto;
	background-color:#fff;
	padding:50px 35px;
}
.disclaimer h2{
	font-size:16px;
	color:#000;
	margin: 40px 15px 20px 25px;
	line-height:200%;
	border-bottom:1px solid #ddd;
}
.disclaimer_content p{
	font-size: 14px;
    line-height: 160%;
    margin: 0 15px 10px 25px;
	color:#000;
}
