@charset "utf-8";
/*广告*/
.ad{
	width:1000px;
	height:90px;
	clear:both;
	margin:20px auto 15px;
}
/*成功故事*/
.success_stories_show{
	width:1000px;
	margin:0 auto 20px;
	overflow:hidden;
	
}
.success_stories_show h2{
	line-height:40px;
	border-bottom:1px solid #d4d4d4;
	font-size:16px;
	margin-bottom:10px;
	color:#000;
}
.success_stories_show img{
	float:left;
	margin:0 1px 1px 0;
}
/*成功案例*/
.success_stories{
	margin-top:20px;
	overflow:hidden;	
}
.stories_container{
	width:1000px;
	margin:auto;
}
.stories_top{
	height:60px;
	background-color:#fff;
	margin:20px 0;
	overflow:hidden;
}
.business,.off-line{
	float:left;
	line-height:60px;
	font-size:18px;
}
.off-line{
	width:130px;
	background-color:#ff7c7c;
	text-align:center;
	color:#fff;
}
.business{
	float:left;
	color:#000;
	margin-left:40px;
}
.my_stories{
	float:right;
	line-height:60px;
	font-size:18px;
	color:#f9a61c;
	margin-right:20px;
}
.stories_content01{
	height:260px;
	background-color:#fff;
	border:1px solid #d4d4d4;
	padding:20px 30px;
	margin-bottom:15px;
	position:relative;
}
.stories_content01 h1{
	font-size:20px;
	font-weight:bold;
	color:#000;
	margin-bottom:15px;
}
.stories_introduce{
	width:560px;
	float:right;
	position:relative;
}
.stories_introduce p{
	clear:both;
	color:#000;
	font-size:14px;
	height:60px;
	overflow:hidden;
	margin:10px 0;
	text-align：justify
}
.details_title,.details_content{
	font-size:14px;
	color:#000;
}
.details_title{
	font-weight:bold;
}
.details_box{
	overflow:hidden;
}
.details_box01{
	margin-top:5px;
}
.details_box h5,.details_box span{
	float:left;
}
.details_content{
	margin-right:100px;
}
.stories_date{
	position:relative;
	top:-8px;
	right:-670px;
}
.details_title,.details_content{
	float:left;	
}
.details_btn{
	position:absolute;
	right:0px;
	bottom:-45px;
	display:inline-block;
	width:130px;
	height:40px;
	background-color:#ff7c7c;
	color:#fff;
	font-size:18px;
	line-height:40px;
	text-align:center;
}
.activity_btn_item{
	display:inline-block;
	width:30px;
	height:30px;
	border:1px solid #d4d4d4;
	text-align:center;
	font-size:16px;
	line-height:30px;
	background-color:#fff;
	margin-right:5px;
}
.activity_btn_icon01{
	background-position:-12px -61px;
}
.activity_btn_icon01,.activity_btn_icon02{
	color:transparent;
}
.activity_btn_icon02{
	background-position:-9px -85px;
}
.activity_btn_current{
	background-color:#ff7c7c;
	color:#fff;
}
.activity_btn{
	text-align:center;
	margin:30px 0 50px;
}
