*{margin:0;padding:0;-webkit-tap-highlight-color: rgba(255, 0, 0, 0)}*,:after,:before{box-sizing:border-box}a,b,big,em,h1,h2,h3,h4,h5,h6,i,ins,small,strong,u{font-style:normal}a{color:#3a3a3a;text-decoration:none}a,button,input[type=button],input[type=submit]{cursor:pointer}a,input,select,textarea{outline:0}a,img{border:none}img{display:block}button,input,select{background:#fff}li,ol,ul{list-style-type:none}fl,fr{display:inline}.fl{float:left}.fr{float:right}clear:after{clear:both;display:block;content:''}table{width:100%}table th{font-weight:400}table,table td,table th,table tr{border-collapse:collapse}body{background:#f5f5f5;color:#555;font-family:微软雅黑;min-width:320px;max-width:640px;margin:auto;
font-size:12px;}
b{font-weight:normal;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.bo_r{border-right:1px solid #e2e2e3;}
.bo_b{border-bottom:1px solid #e2e2e3;}
body{ background:#fff;}
.header{height:100px;background:#fff;}
.header .header_pic{padding-left:38px;padding-top:25px;width:40%;}
.header .header_pic img{width:80px;height:80px;border-radius:50%;}
.header .header_text{font-size:22px;font-weight:bold;color:#57be58;width:60%;padding-top:50px;padding-left:5px;}
.header .text_title{display:block;font-size:18px;color:#333333;margin-top:12px;}
.header .text_time{display:block;font-size:14px;color:#999999;margin-top:5px;}
.header .text_people{display:block;font-size:14px;color:#999999;margin-top:6px;}
.header .time_icon{display:inline-block;width:11px;height:11px; background:url(../images/vip/time_icon.png) no-repeat center/cover;margin-right:5px;}
.header .people_icon{display:inline-block;width:10px;height:11px; background:url(../images/vip/people_icon.png) no-repeat center/cover;margin-right:5px;}
.courseList{margin-top:10px;padding-left:15px; background:#fff;}
.courseList li{display:flex;font-size:16px;border-bottom:1px solid #e2e2e3;padding: 13px 20px 13px 8px; line-height:22px;}
.courseList li .courseList_content{-webkit-flex:1; text-align:right;}
